nav {
  width: 100%;
  color:#fff ;
  z-index: 2 ;
  position: sticky;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  
}
.nav li button {
  background-color: #5d5d5d;
  border: 1px solid #fed25b;
  padding: 10px;
  border-radius: 8px;
  color: #fed25b;
  
}
